@use '../_lib/animation/fade-in' as *;
@use '../_lib/segment-typography' as *;
@use '../_lib/soft-drop-shadow' as *;
@use '../_lib/word-layout' as *;

.segment {
  @include segment-typography(
    $font-family: 'Inter Variable',
    $font-size: 2.7cqh,
    $line-height: 1.3,
  );
  @include fade-in($element: 'segment', $delay: var(--on-segment-starts), $from-opacity: 0);
}

.line {
  display: block;
}

.line + .line {
  margin-top: var(--tscaps-line-spacing, 0);
}

.word {
  @include word-layout(0.13em);
  -webkit-text-stroke: var(--tscaps-outline-thickness, 0em) var(--tscaps-outline-color, #000);
  paint-order: stroke fill;
  text-shadow: soft-drop-shadow(0.08, 0.25);
}
